<p id="notice"><%= notice %></p>

<p>
  <strong>Target:</strong>
  <%= @entry.target %>
</p>

<p>
  <strong>Source:</strong>
  <%= @entry.source %>
</p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<p>
  <strong>Grouping:</strong>
  <%= @entry.grouping %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Commentsretweets:</strong>
  <%= @entry.commentsretweets %>
</p>

<p>
  <strong>Responses:</strong>
  <%= @entry.responses %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @entry.likes %>
</p>
